.smallcontainer1{
    padding-top: 6px;
    text-align: center;
    background-color: #00aaff;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 500px;
    font-size:15px;
    border-radius: 25px;
    box-shadow:  1px 1px 2px 2px rgb(44, 42, 42);
}
.smallcontainer1 h1{
    color:rgb(38, 127, 183);
}
.smallcontainer1 input{
    padding: 10px;
    margin-bottom: 20px;
    font-size:15px;
}
.smallcontainer1 label{
  font-size: 25px;
  font-weight: bold;
  color:black;
}
label {
    padding-right: 70px;
}
.add-cancel{
    font-size: 20px;
    padding: 40px;
}